body{
    padding: 12px;
    cursor: pointer;
    p {
    width: 85%;
    box-sizing: border-box; /* Garante que o padding não estoure os 75% */
}
ul {
    width: 85%;
    box-sizing: border-box;
}

      background-image: url('imgs/fundo.png');
        background-size: 1920px 980px;
        background-repeat: no-repeat;
        background-attachment: fixed;


    h1 {
        font-size: 50px;
    color: rgb(255, 255, 255);}
    h3 { 
        font-size: 25px;
        color: white
    }
    p {
        font-size: 19px;
        color: white
    }

    h2 {
        font-size: 40px;
        color: white;
    }
    ol {
        font-size: 19px;
        color: white
    }
    ul {
        font-size: 19px;
        color: white;
    }
    a {
        color: yellow;
        font-style: italic;
    }

    .conteudo-principal h1 {
    font-size: 50px;
}

    #logocity  {
    width: 260px; height: 260px;}

    .imageteam  {
    width: 650px; height: 550px;
    border: 2px solid rgb(255, 255, 255);
    padding: 1px;}}

    .conteudo-principal {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;}

    .conteudo-lista {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;}

    .meu-time{
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;}

    #retrato{
        width: 480px; height: 600px;
         border: 2px solid rgb(255, 255, 255);
    }
    #amigos{
        width: 900px; height: 600px;
         border: 2px solid rgb(255, 255, 255);
    }
    
    footer{ color: orange
    }

    .phze img {
        width: 300px; height: 380px;
        border: 2px solid white

    }

    #cruzeiro {
        width: 600px; height: 740px;
        border: 2px solid white
    }


    
    

