body{
    p {
    width: 85%;
    box-sizing: border-box; /* Garante que o padding não estoure os 75% */
}
      background-image: url('imgs/fundo.png');
        background-size: 1920px 980px;
        background-repeat: no-repeat;
        background-attachment: fixed;


    h1 {
    color: rgb(255, 255, 255);}
    h3 {
        color: white
    }
    p {
        color: white
    }

    h2 {
        color: white;
    }
    ol {
        color: white
    }
    ul {
        color: white;
    }
    a {
        color: yellow;
        font-style: italic;
    }

    #logocity  {
    width: 260px; height: 260px;}

    .imageteam  {
    width: 650px; height: 550px;
    border: 2px solid rgb(255, 255, 255);
    padding: 1px;}}

    .conteudo-principal {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;}

    .conteudo-lista {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;}

    .meu-time{
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;}
    



    
    

